#coverImage {
  height: 400px;
  width: 99%;
  padding: 20px;
  border-radius: 5px;
  background: var(--dark-1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#coverImage img {
  /* -webkit-mask: url(./assets/icons/cover-pic.svg) no-repeat center; */
  height: 200px;
  border-radius: 5px;
  width: auto;
}
#coverImage #coverText {
  width: 50%;
  color: var(--light);
}
#coverImage #coverText h1 {
  color: var(--red);
}
#coverImage #coverText p {
  text-transform: capitalize;
  font-size: 16px;
}
#coverImage #coverText p::first-letter {
  font-size: 20px;
  font-weight: bold;
  color: var(--red);
}

#content #menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 5px;
}
#content #menu a {
  flex: 1 1 200px;
  height: 100px;
  border-radius: 5px;
  padding: 2px;
  /* background: linear-gradient(180deg, #77bdfb, rgba(255, 255, 255, 0)); */
  z-index: 99;
}

#content #menu a .menuItem {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  overflow: hidden;
}

#content #menu a .menuItem .info {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  color: var(--white);
  /* background: var(--dark-2); */
  background: rgba(255, 255, 255, 0.15);
  font-weight: bold;
  font-size: 18px;
  transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#content #menu a .menuItem:hover .info {
  background: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.5);
  transform: rotateZ(20deg);
}

#content #menu a .menuItem .info .icon {
  height: 32px;
  width: 32px;
  background: var(--white);
}

#ia-icon {
  -webkit-mask: url(./assets/icons/plus-minus.svg) no-repeat center;
}
#i-icon {
  -webkit-mask: url(./assets/icons/file-code.svg) no-repeat center;
}
#a-icon {
  -webkit-mask: url(./assets/icons/plus-minus.svg) no-repeat center;
}
#svt-icon {
  -webkit-mask: url(./assets/icons/seedling.svg) no-repeat center;
}
#pc-icon {
  -webkit-mask: url(./assets/icons/ruler-vertical.svg) no-repeat center;
}
#p-icon {
  -webkit-mask: url(./assets/icons/rocket.svg) no-repeat center;
}
#c-icon {
  -webkit-mask: url(./assets/icons/flask.svg) no-repeat center;
}
@media screen and (max-width: 760px) {
  #coverImage {
    flex-wrap: wrap;
  }
  #coverImage img {
    order: 1;
    height: 50%;
    width: auto;
  }
  #coverImage #coverText {
    order: 2;
    width: 100%;
  }
}
